
.side-navigation__panel {
    --font-not-active: #ccc;
    --font-hover: #888;
    --font-active: #000;
    
    padding:0;
    margin:0;

    position: sticky;
    top: 0rem;
    align-self: start;
    border-right: 1px solid var(--font-not-active);
    height: 100vh;
}

.side-navigation__top-list {
    margin-top: 30px;
}



.side-navigation__panel a {
    text-decoration: none;
    display:block;
    color: var(--font-not-active);
}

.side-navigation__panel a.active {
    color: var(--font-active);
}
.side-navigation__panel a:not(.active):hover
{
    color: var(--font-hover);
} 

.side-navigation__panel ul {
    list-style: none;
    margin: 0;
    margin-left: 30px;
    padding: 0;
}
.side-navigation__panel li {
    margin-top: 1rem;
}

.side-navigation__panel li.indent-1 {
    margin-left: 1rem;
}

.side-navigation__panel li.indent-2 {
    margin-left: 2rem;
}
