.question__panel {
    margin-bottom: 10rem;

}

.question__panel i,
.question__panel p,
.question__panel ul,
.question__panel pre
 { 
    display: block;
    margin: 1.5rem 3rem; 
}

.question__panel pre {
    padding: 1rem !important;
}

.registration-form__panel {
    width: 80%;
    min-width: 400px;
    margin: 0px auto;
    border: 2px solid var(--deep-jungle-green);
    border-radius: 1rem;
    padding: 3rem;
}


/* Registration Form Style */
.registration-form__input_panel {
    display: grid;
    grid-template-columns: auto auto; /* Two columns */
    column-gap: 6rem;
    margin-top: 1rem;
}


.registration-form__input_panel input{
    margin: 0.3rem 0px;
    width: 100%;  
}

.registration-form__panel label{
    display: block;
    margin: 0.6rem 0px;
}

.registration-form__panel .rf_submission {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.registration-form__panel .rf_submission button {
    background: var(--deep-jungle-green);
    color: white;   
    border: 0px;
    padding: 0.6rem 1rem;    
}